@import "https://fonts.googleapis.com/css?family=Fira+Sans:300,400";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0;
  background-image: url(static/assets/imgs/card-23.webp);
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #000;
}

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 5px 30px;
  text-decoration: none;
}
.logo img{
  width: 50px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Efecto hover para el botón */
.btn-hover {
  transition: transform 0.2s ease, background-color 0.2s ease, border-radius 0.3s ease;
  border-radius: 10px; /* Añadido para hacer el borde redondeado */
}

.btn-hover:hover {
  transform: scale(1.1); /* Incrementa ligeramente el tamaño */
  background-color: #343a40; /* Mantén el color oscuro o cámbialo si lo deseas */
  border-radius: 15px; /* Redondea aún más el borde al hacer hover */
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: black !important;
  transition: background-color 0.1s, border-radius 0.3s ease;
  border-radius: 10px; /* Redondeo al hacer hover */
}

/* Efecto hover para los botones */
.btn-hover {
  transition: transform 0.2s ease, background-color 0.2s ease, filter 0.2s ease, border-radius 0.3s ease;
  border-radius: 10px; /* Redondeo predeterminado */
}

.btn-hover:hover {
  transform: scale(1.1); /* Incrementa ligeramente el tamaño */
  filter: brightness(1.1); /* Hace el color más brillante */
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 15px; /* Redondea aún más el borde al hacer hover */
}

.btn-custom {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border: 1px solid #000000; /* Opcional: borde negro */
  border-radius: 10px; /* Bordes redondeados por defecto */
}

.btn-custom:hover {
  background-color: #f8f9fa; /* Fondo ligeramente gris al pasar el mouse */
  color: #000000; /* Texto negro */
  border-radius: 15px; /* Redondea aún más el borde al hacer hover */
}




/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}