#spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Para que esté por encima de todo */
}

.spinner-container {
    text-align: center;
}
.tooltip-lg .tooltip-inner {
    background-color: #000000 !important; /* Rojo claro */
    color: white !important; /* Letras blancas */
    font-size: 1.2rem !important; /* Texto más grande */
    padding: 10px 15px !important; /* Más espaciado */
    border-radius: 8px !important; /* Bordes redondeados */
}

.tooltip-lg.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #000000 !important; /* Color de la flecha */
}
