<!--index.html-->
{% extends "base.html" %}

{% block content %}
<h1 class="text-dark">Nuestra marca</h1>
<div class="container my-5">
    <div class="text-dark">
        <p>Hace unos 50 años, dos amantes del picoteo le dieron al coco y crearon un aperitivo de patata que sorprende a la mente y cautiva al paladar.</p>
        <p>Escapa de la rutina con Pringles. Un aperitivo con forma de universo, un paraboloide hiperbólico que se puede apilar con precisión, que acaricia la lengua y que vuelve locas a tus papilas gustativas.</p>
        <p>Impredecible. Divertido. Con una pizca de seriedad y grandes dosis de curiosidad.</p>
        <a href="#" class="btn btn-danger btn-lg fw-bold mt-3">DESCUBRE PRINGLES</a>
    </div>
</div>


{% endblock %}